{
    "tmp_dir": ".",
    "graylog": {
        "domain": "graylog.example.org",
        "port": 12201
    },
    "ckan": {
        "url": "https://data.ckan.somewhere",
        "api_key" : "XXXX-XX-XX-XXXXX"
    },
    "spreadsheets": [
        {
            "name":           "Potholes",
            "resource_id":    "XXXX-XX-XX-XXXXX",
            "spreadsheet_id": "XXXX-XX-XX-XXXXX",
            "sheet_id":       "12456789"
        }
    ]
}
